.sky {
    background: linear-gradient(90deg, #B3CBF6, #FFC778, #EEE);
    background-size: 400% 400%;
    animation: sky 10s ease infinite;
}

@keyframes sky {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}