body {
    padding: 0;
    margin: 0;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

#main h1 {
    font-family: 'Futura', monospace;
    font-weight: lighter;
    font-stretch: condensed;
    word-spacing: -.25rem;
    color: #fff;
    font-size: 2.5rem;
    width: 55%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1.11, 1);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

#footer {
    background-color: rgba(255, 255, 255, 0.55);
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 150%;
    overflow: hidden;
    font-family: "MS Mincho", "SimSong", serif;
}

@font-face {
    font-family: "MS Mincho";
    src: url("https://creative-community.space/coding/fontbook/family/MS%20Mincho.ttf");
}

#footer p {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 950px) {
    #main h1 {
        font-size: 1.5rem;
    }
    #footer {
        font-size: 0.75rem;
    }
}